body{
    margin: 0;
    background-color: rgb(168, 165, 165);
    /* color: white; */
    font-family: 'Courier New', Courier, monospace;
}

.container, body{ 
    min-height: 100vh;
}

.container, .next-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1, button, th, caption{
    background-color: rgb(43, 60, 60);
    color: wheat;
}

h1{
    padding: 1rem;
    margin: 0;
}

#error-message, .next-section, table {
    display: none;
}

#error-message{
    background-color: brown;
    color: wheat;
    padding: 0.5rem;
}

button{
    padding: 0.5rem;
    width: 5rem;
}

label{
    padding-top: 1rem;
}

label, caption, td{
    font-weight: bolder;
}

caption{
    width: fit-content;
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;  
    border: 3px solid black;
    border-bottom: 0; 
}

table{
    border-color: black;
    margin-top: 1.5rem;
}

td{
    background-color: white;
}

.grey{
    background-color: grey;
    border-color: grey;
    color: grey;
}
